      <!-- About Section -->
<section id="about" class="site-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="about-image wow fadeInLeft">
                    <img src="~/img/Iglesia.jpg" alt="About Image" />
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <H3>Misión</H3>
                    <p>
                        "Salvar a todos los seres humanos y enseñarlos en toda sabiduría, a fin de preséntarlos perfectos en cristo jesús. (COL. 1:28; MT. 28:19-20)"
                    </p>
                </div>
                <hr>
                <div>
                    <H3>Visión</H3>
                    <p>
                        "Ser por la misericordia de dios la iglesia mas grande y sana, fuerte y poderosa con la mayor influencia y bendición a la nación y al mundo entero. (GEN. 18:18; ROM. 9:15-18, 22-26)"
                    </p>
                </div>
                <hr>
                <div>
                    <H3>Estrategia</H3>
                    <p>
                        "Salvar a través de los grupos de crecimiento y cualquier otro medio, a todos los dominicanos. y hacerlos discípulos de cristo, convirtiéndolos en lideres de excelencia"
                    </p>
                </div>
            </div>            
            </div>
        </div>
</section>
<!-- About Section -->
<br>
<!-- Feature Section -->

<section id="features" class="site-padding">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title">
                    <h3>Nuestros <span>Servicios</span></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <!-- Single Feature-->
            <div class="col-sm-4">
                <div class="single-feature wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="feature-icon">
                              
                                <i class="fa fa-bullhorn" style="font-size: 40px; margin-right: 5px;"></i>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="feature-text">
                                <h4>Culto General</h4>
                                <p>Dirigido para el publico en general</p>
                                <h5>Todos los Domingos 6:00 PM y Los Martes 7:00 PM</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Feature-->
            <!-- Single Feature-->
            <div class="col-sm-4">
                <div class="single-feature wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="feature-icon">
                                <i class="fa fa-dashboard" style="font-size: 40px; margin-right: 5px;"></i>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="feature-text">
                                <h4>Consolidacion</h4>
                                <p>Formacion para los nuevos creyentes</p>
                                <h5>Miercoles 7:00PM</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Feature-->
            <!-- Single Feature-->
            <div class="col-sm-4">
                <div class="single-feature wow fadeInRight">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="feature-icon">
                                <i class="fa fa-users" style="font-size: 35px; margin-right: 5px;"></i>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="feature-text">
                                <h4>Culto Juvenil</h4>
                                <p>Dirigido a todos los adolecentes y jovenes</p>
                                <h5>Sabados 7:00 PM</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Feature-->


        </div>


        <div class="row">

            <!-- Single Feature-->
            <div class="col-sm-4">
                <div class="single-feature wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="feature-icon">
                                <i class="fa fa-child"></i>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="feature-text">
                                <h4>Culto Infantil</h4>
                                <p>Dirigido a todos los niños y niñas</p>
                                <h5>Todos los Sabados 5:00 PM</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Feature-->
            <!-- Single Feature-->
            <div class="col-sm-4">
                <div class="single-feature wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="feature-icon">
                                <i class="fa fa-graduation-cap" style="font-size: 40px; margin-right: 5px;"></i>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="feature-text">
                                <h4>Escuela de Formacion Ministerial</h4>
                                <p>Formentado el liderazgo</p>
                                <h5>Todos los Domingo 10 AM</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Feature-->
            <!-- Single Feature-->
            <div class="col-sm-4">
                <div class="single-feature wow fadeInRight">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="feature-icon">
                                <i class="fa fa-coffee " style="font-size: 40px; margin-right: 5px;"></i>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="feature-text">
                                <h4>Otros</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- Single Feature-->


        </div>


    </div>
</section>

<!-- Feature Section -->

<!-- Testimonials -->

<section id="testimonials">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="title">
                    <h3><span>Testimonios</span></h3>
                </div>
            </div>
        </div>

        <div id="fawesome-carousel-two" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#fawesome-carousel-two" data-slide-to="0" class="active"></li>
                <li data-target="#fawesome-carousel-two" data-slide-to="1"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="single-testimonials">
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>

                                <div class="profile-image">
                                    <img src="img/client.jpg" alt="Author Image" />
                                    <h4>John Doe</h4>
                                    <p>Miembro de la iglesia</p>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="single-testimonials">
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>

                                <div class="profile-image">
                                    <img src="img/client.jpg" alt="Author Image" />
                                    <h4>John Doe</h4>
                                    <p>Miembro de la iglesia</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Next Slide -->
                <div class="item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="single-testimonials">
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>

                                <div class="profile-image">
                                    <img src="img/client.jpg" alt="Author Image" />
                                    <h4>Jason Cheng</h4>
                                    <p>Miembro de la iglesia</p>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="single-testimonials">
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>

                                <div class="profile-image">
                                    <img src="img/client.jpg" alt="Author Image" />
                                    <h4>Kim Cheng</h4>
                                    <p>Miembro de la iglesia</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Next Slide -->

            </div>

        </div>

    </div>
</section>

<!-- Testimonials -->
<!-- From the Blog-->

<section id="feature-work" class="site-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title">
                    <h3><span>Actividades</span></h3>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Blog -->
            <div class="col-sm-4">
                <div class="single-blog">
                    <img src="~/img/actividades1.jpg" alt="Blog Image" />
                    <h4><a href="blog.html">CAMPAMENTO JUVENIL 2019 "SOBRE LA ROCA"</a></h4>
                    <p>Ministerio Juvenil Generación De Cambio.</p>
                    <a href="https://www.facebook.com/pg/Ministerio-Juvenil-Generaci%C3%B3n-De-Cambio-1584412108510271/photos/?tab=album&album_id=2377460915872049&__xts__%5B0%5D=68.ARAHPymUZnCEmMFPqQB-ZVZ5IBWVTM9uxQb88ibnpa_JNabzFyYKOhkLqPuRPY-F2PSZ7tNCoXuXXyD8NinLKKy12b8YnBZ6jZCQLnZiqlo2apOPH79dPg28UpBTZOxVPr_wNwXgKl1RYQn5kMbbs_YVOktIyN8VgVoWVDjJyRAbEfEKLsRAAi60sWScJ7DxPAfgQcW34-DFXbhRx7m2pUmtNKHzi76w7XYofFPSAcHW6-fyye-QSwLxMipCMYVXjQTEysX78A0GeiPibG4MwXLA1FwlwIVIkxpuvwuvkGf7e1559KXwHg_xnby_ZAu1MIXGtyCEwRrx6ajjb9bumyT37LM&__tn__=-UCH-R" target="_blank">Leer mas>></a>
                </div>
            </div>
            <!-- Single Blog -->
            <!-- Single Blog -->
            <div class="col-sm-4">
                <div class="single-blog">
                    <img src="~/img/convention.jpg" alt="Blog Image" style="width: 360px;
    height: 433px"/>
                    <h4><a href="blog.html">La influencia de los ponentes de la Convención 2019 en República Dominicana abarca el mundo</a></h4>
                    <p>Nos sentimos más que contentos con lo que Dios esta y seguirá haciendo con nuestros queridos pastores!.</p>
                    <a href="https://chognews.org/2019/01/07/convention-2019-speakers-influence-in-dominican-republic-spans-globe/?fbclid=IwAR3JUtjbta3UVnZm6AqkoIxyohjqfGh-MOa3AA8atUJyXuZ4rwRNdoJB9fw" target="_blank">Leer mas>></a>
                </div>
            </div>
            <!-- Single Blog -->
            <!-- Single Blog -->
            <div class="col-sm-4">
                <div class="single-blog">
                    <img src="~/img/antesDeDomir.jpg" alt="Blog Image"style="width: 360px;
    height: 433px"/>
                    <h4><a href="blog.html">Antes de Dormir</a></h4>
                    <p>Programa radial.</p>
                    <a href="#">Leer mas>></a>
                </div>
            </div>
            <!-- Single Blog -->


        </div>

    </div>
</section>

<!-- From the Blog-->

<!-- Contact -->
<section id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title">
                    <h3>Contáctenos</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.736179666412!2d-69.87152168634566!3d18.54082038739721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf88ae65b7bcc9%3A0x1cefb9fbf5710c69!2sIglesia+Accion+Misionera%2C+Los+Palmares!5e0!3m2!1sen!2sdo!4v1547998343239" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

</section>
<!-- Contact -->